/* :root {
  --color-black: #000000;
  --color-green: #34c94b;
} */

.button {
  background-color: var(--color-black);
  color: var(--color-green);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.9;
}