:root {
  --color-black: #121212;
  --color-white: #ffffff;
}

.hero {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.content {
  max-width: 50%;
}

.content h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
}