.sectionWrapper {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-primary);
}

.tabs {
  min-height: 32px !important;
  margin-bottom: 1rem;
}

.tab {
  min-height: 32px !important;
  min-width: auto !important;
  padding: 0 10px !important;
  margin-right: 6px !important;
  color: var(--color-white) !important;
  text-transform: none !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  opacity: 0.7 !important;
}

.tab[aria-selected="true"] {
  opacity: 1 !important;
}

.indicator {
  background-color: var(--color-primary) !important;
  height: 3px !important;
  border-radius: 4px !important;
}