.carouselWrapper {
  position: relative;
  width: 100%;
}

.navLeft,
.navRight {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navLeft {
  left: 0px;
}

.navRight {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(100%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.swiper-button-disabled {
  display: none !important;
}
